/* Variables */
$header-bg-color: #0C1F3C;
$header-text-color: white;
$nav-bg-color: #3785F2;
$button-bg-color: #007bff;
$button-hover-color: #0056b3;
$link-hover-color: #0C1F3C;

/* Exemple de style pour le lien actif */
.nav-link.active-link {
  color: #0C1F3C; /* Couleur de votre choix */
  
}

.header {
  background-color: $header-bg-color;
  color: $header-text-color;
   margin: 0;
  padding: 0;
  width: 100%;

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; // Garder cette hauteur
    padding: 0 15px;
  }
}

.profile-icon {
  padding-right: 50px;
  font-size: 1.5rem;
  color: $header-text-color;
  cursor: pointer;
  margin-left: 20px;
}

.auth-button {
  background-color: $button-bg-color;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $button-hover-color;
  }
}

main {
  margin-top: 30px;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1; // Permet de pousser le contenu vers le centre

  .logo-img {
    height: 60px;
    width: auto;
    margin-right: 20px;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0; // Enlever la marge par défaut
    line-height: 1; // Pour que l'alignement vertical soit plus précis
  }
}



.header-nav {
  background-color: $nav-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 40px;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 120px;

  &:first-child {
    margin-left: 0;
  }
}

/* Style de base pour le lien */
.nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #000; /* Couleur du texte */
  padding: 4px 10px; /* Espace autour du texte, pour un effet de bouton */
  border-radius: 5px; /* Bordures arrondies */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transition pour fond et effet de transformation */
  display: inline-block; /* Pour appliquer correctement le padding */
  cursor: pointer; /* Montre un curseur en forme de main */
}

/* Style spécifique pour le lien actif (comme un bouton) */
.nav-link.active-link {
  background-color: #0C1F3C; /* Couleur de fond du bouton */
  color: white; /* Texte blanc */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre autour du bouton */
  transform: translateY(-2px); /* Effet de décalage pour simuler un clic */
}




